@font-face {
  font-family: ClearSans;
  src: url(/public/fonts/20930.ttf);
}
@font-face {
  font-family: GardensCM;
  src: url(/public/fonts/20011.ttf);
}

.Linklinks {
  text-decoration: none;
  color: black;
}
.Linklinks:visited {
  color: black;
}




@media (width <=400px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color:  #eeeeee;
    height: 100%;
    width: 100%;
  }
  
 
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .mainContent {
    display: flex;
    gap: 20px;
    justify-content: center;
  }


  
}
@media (width <= 510px) and (width > 400px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
  }
  
  
 
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mainContent {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  

  
}
@media (width > 510px) and (width <= 1440px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
  }
  
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mainContent {
    display: flex;
    justify-content: center;
  }
 
 

}

@media (width >= 1440px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
  }

  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .mainContent {
    display: flex;
    justify-content: center;
  }
 

}
