@font-face {
  font-family: ClearSans;
  src: url(../public/fonts/20930.ttf);
}
@font-face {
  font-family: GardensCM;
  src: url(/public/fonts/20011.ttf);
}
@media (width <=400px) {
  .mainContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    font-family: ClearSans;
    font-size: 24px;
  }
  .bigSpace {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100vw;
    height: 100%;

    padding: 20px;
  }
  .smallSpace {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    border-bottom: 2px solid black;
  }
  .smallSpace h4 {
    text-align: center;
  }
  .tags {
    display: flex;
    gap: 35px;
    flex-direction: column;

    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .serviceImage {
    width: 70vw;
    height: 40vh;
  }
}
@media (width <= 510px) and (width > 400px) {
  .mainContent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    font-family: ClearSans;
    font-size: 24px;
  }
  .bigSpace {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100vw;
    height: 100%;

    padding: 20px;
  }
  .smallSpace {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    border-bottom: 2px solid black;
  }
  .smallSpace h4 {
    text-align: center;
  }
  .tags {
    display: flex;
    gap: 35px;
    flex-direction: column;

    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .serviceImage {
    width: 70vw;
    height: 40vh;
  }
}
@media (width > 510px) and (width <= 1440px) {
  .mainContent {
    display: flex;
    flex-direction: row;

    font-family: ClearSans;
    font-size: 24px;
  }
  .bigSpace {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 65vw;
    height: 100%;

    padding-top: 15px;
    padding-left: 20px;
  }
  .smallSpace {
    width: 35vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    border-left: 2px solid black;
  }
  .smallSpace h4 {
    text-align: center;
  }
  .tags {
    display: flex;
    gap: 35px;
    flex-direction: column;
  }
  .serviceImage {
    width: 30vw;
    height: 40vh;
  }
}

@media (width >= 1440px) {
  .mainContent {
    display: flex;
    flex-direction: row;

    font-family: ClearSans;
    font-size: 24px;
  }
  .bigSpace {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 65vw;
    height: 100%;

    padding-top: 15px;
    padding-left: 20px;
  }
  .smallSpace {
    width: 35vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;
    border-left: 2px solid black;
  }
  .smallSpace h4 {
    text-align: center;
  }
  .tags {
    display: flex;
    gap: 35px;
    flex-direction: column;
  }
  .serviceImage {
    width: 30vw;
    height: 40vh;
  }
}
