.Card {
  -webkit-box-shadow: 21px 21px 19px 6px rgba(34, 60, 80, 0.18);
  -moz-box-shadow: 21px 21px 19px 6px rgba(34, 60, 80, 0.18);
  box-shadow: 21px 21px 19px 6px rgb(0 0 0 / 18%);
}

.Card:hover {
  transition: 0.5s;
  cursor: pointer;
  margin-top: -20px;
}
.Card:not(:hover) {
  margin-top: 0px;
  cursor: pointer;
  transition: 0.5s;
}

@media (width <=400px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 60vw;
    height: 40vh;
  }
  .Card img {
    width: 55vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 25px;
    font-family: GardensCM;
  }
}
@media (width <= 510px) and (width > 400px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 60vw;
    height: 40vh;
  }
  .Card img {
    width: 55vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 40px;
    font-family: GardensCM;
  }
}
@media (width > 510px) and (width <= 1440px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 33vw;
    height: 40vh;
  }
  .Card img {
    width: 27vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 40px;
    font-family: GardensCM;
  }
}
@media (width >= 1440px) {
  .Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin: 10 10 10 10;
    background-color: #fff;
    z-index: 100;
    width: 22vw;
    height: 40vh;
  }
  .Card img {
    width: 18vw;
    height: 20vh;
  }
  .Card h4 {
    font-size: 40px;
    font-family: GardensCM;
  }
}
