@media (width <=400px) {
  .ListWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 40px 40px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (width <= 510px) and (width > 400px) {
  .ListWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 40px 40px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (width > 510px) and (width <= 1440px) {
  .ListWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: row;
    justify-content: center;
  }
}
@media (width >= 1440px) {
  .ListWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .CardsList {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 40px 40px 40px;
    flex-direction: row;
    justify-content: center;
  }
}
